In [2]:
#Bring in packages for analysis.
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("data/AviationData.csv", encoding='ISO-8859-1', low_memory=False)

In [3]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [6]:
df["Event.Date"] = pd.to_datetime(df["Event.Date"])

In [17]:
df.isna().sum()/len(df)*100

Event.Id                   0.000000
Investigation.Type         0.000000
Accident.Number            0.000000
Event.Date                 0.000000
Location                   0.058500
Country                    0.254250
Latitude                  61.320298
Longitude                 61.330423
Airport.Code              43.469946
Airport.Name              40.611324
Injury.Severity            1.124999
Aircraft.damage            3.593246
Aircraft.Category         63.677170
Registration.Number        1.481623
Make                       0.070875
Model                      0.103500
Amateur.Built              0.114750
Number.of.Engines          6.844491
Engine.Type                7.961615
FAR.Description           63.974170
Schedule                  85.845268
Purpose.of.flight          6.965991
Air.carrier               81.271023
Total.Fatal.Injuries      12.826109
Total.Serious.Injuries    14.073732
Total.Minor.Injuries      13.424608
Total.Uninjured            6.650992
Weather.Condition          5.053494
Broad.phase.of.flight     30.560587
Report.Status              7.178616
Publication.Date          15.492356
dtype: float64

In [12]:
df["Investigation.Type"].value_counts()

Accident    38916
Incident     2298
Name: Investigation.Type, dtype: int64

In [11]:
df["Make"].value_counts()[:31]

Cessna                         5666
CESSNA                         4922
Piper                          3075
PIPER                          2841
Beech                          1212
BOEING                         1151
BEECH                          1042
Bell                            628
Boeing                          590
BELL                            588
Robinson                        524
Mooney                          338
ROBINSON                        284
Air Tractor                     268
AIRBUS                          251
MOONEY                          242
ROBINSON HELICOPTER             221
CIRRUS DESIGN CORP              218
AIR TRACTOR INC                 217
Hughes                          211
Schweizer                       192
Bellanca                        179
ROBINSON HELICOPTER COMPANY     179
BELLANCA                        159
Mcdonnell Douglas               156
Grumman                         154
AERONCA                         149
Maule                           149
MAULE                           144
SCHWEIZER                       144
HUGHES                          137
Name: Make, dtype: int64

In [16]:
df["Model"].value_counts()[:31]

152          2367
172          1756
172N         1164
PA-28-140     932
150           829
172M          798
172P          689
182           659
180           622
150M          585
PA-18         581
PA-18-150     578
PA-28-180     572
PA-28-161     569
PA-28-181     532
206B          524
737           489
PA-38-112     469
150L          461
G-164A        460
A36           450
G-164B        420
140           402
206           390
170B          389
172S          373
R44           361
182P          356
PA-32-300     356
PA-24-250     352
269C          341
Name: Model, dtype: int64

In [10]:
df["Purpose.of.flight"].value_counts()

Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [10]:
df["Amateur.Built"].value_counts()

No     36442
Yes     4672
Name: Amateur.Built, dtype: int64

In [9]:
df["Aircraft.Category"].value_counts()

Airplane             24164
Helicopter            3112
Glider                 455
Balloon                201
Weight-Shift           161
Gyrocraft              158
Powered Parachute       91
Ultralight              29
Unknown                 13
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

In [8]:
df["Purpose.of.flight"].value_counts()

Personal                     22637
Instructional                 4881
Aerial Application            1762
Business                      1098
Positioning                    901
Unknown                        821
Other Work Use                 645
Aerial Observation             432
Flight Test                    404
Public Aircraft                251
Ferry                          209
Executive/corporate            193
Skydiving                      148
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [13]:
df["Weather.Condition"].value_counts()

VMC    34275
IMC     2153
Unk      262
UNK       57
Name: Weather.Condition, dtype: int64

In [5]:
df["Event.Year"] = pd.DatetimeIndex(df["Event.Date"]).year

In [6]:
df = df[df['Event.Year'] >= 2000]

In [28]:
df.sort_values(by="Event.Year")

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Event.Year
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,1974
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87812,20220517105094,Accident,ANC22LA033,2022-05-17,"Anchorage, AK",United States,612333N,1494939W,Z40,Goose Bay,...,NaN,0.0,1.0,0.0,1.0,VMC,NaN,A loss of engine power for reasons that could ...,01-09-2022,2022
87811,20220517105092,Accident,GAA22WA181,2022-05-17,"Piracuara, OF",Colombia,NaN,NaN,NaN,NaN,...,Aerolineas Llaneras Arall LTDA,4.0,0.0,0.0,0.0,NaN,NaN,NaN,14-06-2022,2022
87810,20220524105124,Accident,WPR22LA187,2022-05-16,"Douglas, WY",United States,424750N,0105239W,KDGW,Converse County,...,NaN,0.0,1.0,0.0,1.0,VMC,NaN,The pilotÂ’s inadequate flare and subsequent lo...,13-10-2022,2022
87820,20220519105104,Accident,CEN22LA206,2022-05-19,"Beach City, TX",United States,294539N,0945036W,54T,RWJ Airpark,...,NaN,0.0,2.0,0.0,0.0,VMC,NaN,The pilotÂ’s failure to maintain directional co...,08-09-2022,2022
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022

In [7]:
df["Event.Year"].value_counts()

2000    2220
2003    2085
2001    2063
2005    2031
2002    2020
2007    2016
2004    1952
2008    1893
2006    1851
2011    1850
2012    1835
2010    1786
2009    1783
2018    1681
2016    1664
2017    1638
2019    1624
2022    1607
2015    1582
2013    1561
2021    1545
2014    1535
2020    1392
Name: Event.Year, dtype: int64